<header class="site-header">
  <nav class="navbar navbar-inverse xm-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="logo-small" alt="XAPPmedia" src="/img/xapp-logo-diamond_138x82.png">
        </a>
      </div>
      <p class="title-wrapper">
        <!-- Do not new line these span elements, it adds whitespace, thanks http://stackoverflow.com/a/5078297/1349766 -->
        <span class="title-header-developer hidden-xs">developer</span><span class="title-header-at hidden-xs">@</span><span class="title-header-xappmedia hidden-xs">xappmedia.com</span><span class="title-header-tilde hidden-xs">:~</span><span class="title-header-money">$</span>
        <span class="title-typed"></span>
      </p>
    </div>
  </nav>
</header>
