<header class="site-header">
  <nav class="navbar navbar-inverse xm-navbar">
    <div class="container">
      <div class="navbar-header" style="min-width: 100%;">
        <a class="navbar-brand" href="/">
          <img class="logo-small" alt="XAPPmedia" src="/img/xapp-logo-diamond_138x82.png">
        </a>
        <p class="title-wrapper">
            <span class="title-header-developer hidden-xs">developer</span><span class="title-header-at hidden-xs">@</span><span class="title-header-xappmedia hidden-xs">xappmedia.com</span><span class="title-header-tilde hidden-xs">:~</span><span class="title-header-money">$</span>
            <span class="title-typed"></span>
        </p>
      </div>
    </div>
  </nav>
</header>
