---
layout: default
---
<div class="container">
  <div class="row">
    <!-- Main Content -->
    <article class="col-md-9 xm-docs-main" role="main">
      <div class="alert alert-sdk-notice" role="alert">
        <b>Note:</b> Your use of the XAPP SDK is governed by the <a href="http://xappmedia.com/xapp-sdk/sdk-terms/" class="alert-link">XAPP SDK Terms of Service and License Agreement</a>
      </div>
      {{ content }}
    </article>
    <!-- /main content -->
    <!-- Sidebar -->
    <div class="col-md-3" role="complementary">
      <nav id="sidebar" class="xm-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav xm-docs-sidenav">
          <!-- li will be added by javascript -->
        </ul>
        <!--<a class="back-to-top" href="#top"> Back to top </a> -->
      </nav>
    </div>
    <!-- /sidebar -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->
