---
layout: page
sdk_agreement: false
---

{% assign author = site.data.authors[page.author] %}

<div class="container" style="padding-top: 40px;">
    <div class="row">
        <!-- Main Content -->
        <article class="col-md-12 xm-docs-main" role="main">
            {{ content }}
        </article>
        <!-- /main content -->
    </div>
    <!-- /row -->

    {% if author %}
    <!-- Output author details if they exist. -->
    <div class="row author-info">
        <div class="col-md-2 col-md-offset-3">
            <!-- Mugshot. -->
            <img class="img-circle" src="{{ author.email | to_gravatar }}" alt="A photo of {{ author.name }}" />
        </div>
        <div class="col-md-2">
            <!-- Personal Info. -->
            {% if author.web %}
            <a class="author-name" href="{{ author.web }}" target="_blank">{{ author.name }}</a>
            {% else %}
            <p class="author-name">{{ author.name }}</p>
            {% endif %}

            {% if author.title %}
            <p class="author-title">{{ author.title }}</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<!-- /container -->
